<header class="text-center text-white">
    <h1 class="display-4">Materiales</h1>
</header>
<div>
    <div id="materials-container" class="container">
        <form action="/new-material" method="POST">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Codigo</label>
                    <input type="text" class="form-control" id="validationDefault01" name="codigo" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Referencia</label>
                    <input type="text" class="form-control" id="validationDefault02" name="referencia" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault03">Descripcion</label>
                    <input type="text" class="form-control" id="validationDefault03" name="descripcion" required>
                </div>

            </div>
            <button class="btn btn-primary" type="submit">Guardar Material</button>
        </form>
    </div>

    <div class="container">
        <div>
            <h1>Presupuestos</h1>
        </div>
        <div class="panel">
            <div class="body">
                <form class="form-inline my-2 my-lg-0">
                    <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Buscar"
                        aria-label="Search">
                </form>
            </div>
        </div>
        <table class="myTable table hover">
            <tbody>
                <tr>
                    <th>Codigo</th>
                    <th>Referencia</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
                {{#if material}}

                {{#each material}}
                <tr>
                    <td id="codigo{{@key}}">{{codigo}}</td>
                    <td id="referencia{{@key}}">{{referencia}}</td>
                    <td id="descripcion{{@key}}" class="text-right">{{descripcion}}</td>
                    <td>
                        <a href="/delete-material/{{@key}}" class="btn btn-danger">
                            delete
                        </a>
                    </td>
                </tr>
                {{/each}}
                {{else}}

                <div class="alert alert-warning" role="alert">
                    A simple warning alert—check it out!
                </div>

                {{/if}}
            </tbody>
        </table>
    </div>
    <script>

        let options = {
            numberPerPage: 10, //Cantidad de datos por pagina
            goBar: true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
            pageCounter: true, //Contador de paginas, en cual estas, de cuantas paginas
        };

        let filterOptions = {
            el: '#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
        };
        paginate.init('.myTable', options, filterOptions);
    </script>
    <script src="/js/main.js"></script>
</div>