<header class="text-center text-white">
  <h1 class="display-4">Montajes</h1>
</header>

<div>
  <div class="container">
    <!-- MOUNT FORM -->
    <form id="formMouts">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">CODIGO</label>
          <input type="text" class="form-control" id="code" name="codigo" value="" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">NOMBRE</label>
          <input type="text" class="form-control" id="name" name="nombre" value="" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">DESCRIPCION</label>
        <input type="text" class="form-control" id="description" placeholder="Describe el proposito del montaje"
          name="descripcion" value="" required>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">TIPO DE MONTAJE</label>
          <select id="mountType" class="form-control" name="idTipoMontaje" required>
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

      </div>
      <button onclick="createMount()" type="button" class="btn btn-success">Crear Montaje</button>
      <div class="buttom-separate">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMaterialModal">
          Agregar Material
        </button>

        <!-- MODAL ADD MATERIALS -->
        <div class="modal fade" id="addMaterialModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Materiales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="">
                <div class="">
                  <div class="container-fluid">
                    <div class="col-xs-12">
                      <!-- TABLA INICIA -->
                      <div class="panel">
                        <div class="body">
                          <form class="form-inline my-2 my-lg-0">
                            <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Buscar"
                              aria-label="Search">
                          </form>
                        </div>
                      </div>
                      <table class="myTable table hover">
                        <tbody>
                          <tr>
                            <th>Codigo</th>
                            <th>Referencia</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                          </tr>

                          {{#if material}}

                          {{#each material}}
                          <tr>
                            <td id="codigo{{@key}}">{{codigo}}</td>
                            <td id="referencia{{@key}}">{{referencia}}</td>
                            <td><input id="cantidad{{@key}}" type="number" name="quantity" min="1" value="1"
                                class="number"></td>
                            <td>
                              <a class="btn btn-success" id="{{@key}}" onclick="addMaterial(id)">
                                Agregar
                              </a>
                            </td>
                          </tr>
                          {{/each}}
                          {{else}}

                          <div class="alert alert-warning" role="alert">
                            No existen Materiales
                          </div>

                          {{/if}}

                        </tbody>
                      </table>
                    </div>
                    <!-- TABLA FINALIZA -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN DEL MODAL -->

    </form>
    <!-- TABLE WITH THE MATERIALS -->
    <table id="materialTable" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Referencia</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody id="materialBody" class="tbodyData">

      </tbody>
    </table>
  </div>
  <script>

    let options = {
      numberPerPage: 10, //Cantidad de datos por pagina
      goBar: true, //Barra donde puedes digitar el numero de la pagina al que quiere ir
      pageCounter: true, //Contador de paginas, en cual estas, de cuantas paginas
    };

    let filterOptions = {
      el: '#searchBox' //Caja de texto para filtrar, puede ser una clase o un ID
    };
    paginate.init('.myTable', options, filterOptions);
  </script>

  <script src="/js/mounts.js"></script>
  <script src="/js/main.js"></script>
</div>