<div class="container">
  <div class="alert alert-success text-center" id="dashboard" role="alert">
    <h1>Lista de Montajes </h1>
  </div>

  <div id="materials-container">
    <div class="card-footer">
      <a href="/mounts">
        <button type="button" class="btn btn-primary btn-lg btn-block">Crear Nuevo montaje</button>
      </a>
    </div>
  </div>
  <div class="table-materials">
    <div class="panel">
      <div class="body">
        <form class="form-inline my-2 my-lg-0">
          <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        </form>
      </div>
    </div>
    <table class="myTable table hover">
      <tbody>
        <tr>
          <th>Codigo</th>
          <th>Descripcion</th>
          <th>T-MOntje</th>
          <th>Opciones</th>
        </tr>
        {{#if montaje}}

        {{#each montaje}}
        <tr>
          <td id="codigo{{@key}}">{{codigo}}</td>
          <td id="referencia{{@key}}">{{descripcion}}</td>
          <td id="descripcion{{@key}}" class="text-right">{{tipoMontaje}}</td>
          <td>
            <a href="/delete-mount/{{@key}}" class="btn btn-danger">
              delete
            </a>
          </td>
        </tr>
        {{/each}}
        {{else}}

        <div class="alert alert-warning" role="alert">
          No existen Montajes
        </div>

        {{/if}}
      </tbody>
    </table>
  </div>

  <script src="/js/main.js"></script>
</div>